{
  "ignore": ["src/**/*.spec.ts"],
  "plugins": ["@babel/plugin-proposal-class-properties", "babel-plugin-add-import-extension"],
  "presets": [["@babel/preset-env", {"modules": false}], "@babel/preset-typescript"]
}
