# Development Directories
_spec_
config
scripts
spec-support
src

# Development Files
*.spec.js
.eslintrc.js

# Temporary Directories
.babel-cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
