# Development Directories
.github
.vscode
src

# Development Files
*.spec.js
.eslintrc.cjs
.eslintignore
.prettierrc
tsconfig.json
.mocharc.json
.babelrc

# Temporary Directories
.babel-cache

# Logs
logs
*.log
npm-debug.log*
